AUX_Head/CLIP/model_weights/
**/__pycache__/
*.pyc
DataPrep/LLMAnnotation/annotation_outputs/README.md
DataPrep/LLMAnnotation/annotation_outputs/llm_annotation_results.json
AUX_Head/MERGED_RESULT/READMEmd
